html,
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
}

.Loading__ {
	&loading {
		will-change: opacity;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		background: rgba(0, 0, 0, 0.3);
		animation: 2s show forwards;
		animation-delay: 0.3s;
	}
	&text {
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
		color: white;
	}
}
.Widget__ {
	&widget {
		display: block !important;
		position: relative;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
